body {
    margin-left:15px;
    background-color:#F5FAFA;
}
input[type="range"] {
}

.boxes {
    width:500px;
    background-color:#ACD1E9;
/*     background-color:#cbcbcb; */

    
    padding:10px;
    border-radius:15px;
    margin-top:10px;
}

h1{
    font-size:153.9%;
    margin-top:5px;
    margin-bottom:5px;
    font-family:sans-serif;
}

.boxHeader{
    margin-top:-5px;
}

.suggestionListSpec{
    left: 125px;
    position:absolute;
}