body {
    background-color:#041452;
    margin: 0 auto;
    font-family: Rockwell;
    font-size: 1.2em;
}

#header_wrapper {
  background-color: #fff;
  width: 100%;
}

#header {
  margin: 0 auto;
  width: 950px;
  overflow: hidden;
  height: 85px;
}

a {
  color: #041452;
  text-decoration: none;
}

#header .logo {
  float: left;
  width: 190px;
  height: 40px;
  background: url(/static/img/logo.png) no-repeat;
  margin-top: 20px;
}

#header .nav {
  float: right;
}

#header ul {
}

#header .nav li {
  float: left;
  margin: 25px 0;
  line-height: 20px;
  border-left: 1px solid #000;
  padding: 0 10px;
}

#header .nav li:first-child {
  border-left: none;
}

#content {
  margin: 0 auto;
  width: 950px;
}

input[type="range"] {
}

.boxes {
    width:500px;
    background-color:#ACD1E9;
/*     background-color:#cbcbcb; */

    
    padding:10px;
    border-radius:15px;
    margin-top:10px;
}

h1{
    font-size:153.9%;
    margin-top:5px;
    margin-bottom:5px;
    font-family:sans-serif;
}

.boxHeader{
    margin-top:-5px;
}

.suggestionListSpec{
    left: 125px;
    position:absolute;
}