body {
    background-color:#041452;
    margin: 0 auto;
    font-family: Rockwell;
    font-size: 1.2em;
}

a {
  color: #041452;
  text-decoration: none;
}

#header_wrapper {
  background-color: #fff;
}

#header, #content {
  margin: 0 auto;
  width: 950px;
}

#header {
  overflow: hidden;
  height: 85px;
}

#header .logo {
  float: left;
  width: 190px;
  height: 40px;
  background: url(/static/img/logo.png) no-repeat;
  margin-top: 20px;
}

#header .nav {
  float: right;
}

#header ul {
}

#header .nav li {
  float: left;
  margin: 25px 0;
  line-height: 20px;
  border-left: 1px solid #000;
  padding: 0 10px;
}

#header .nav li:first-child {
  border-left: none;
}

.boxes {
    background-color: #fff;
    padding:20px;
    margin-top:20px;
    overflow: hidden;
}

.boxes img, .boxes .suggestionListSpec {
  float: left;
  margin-right: 10px;
}

h1{
    font-size:153.9%;
    margin-top:5px;
    margin-bottom:5px;
    font-family:sans-serif;
}

.boxHeader{
    margin-top:-5px;
}
