{% extends "roomstant/base.html" %}
{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/roomstant.css" type="text/css">
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/roomstant.css" type="text/css">
{% endblock css %}

{% block page %}
{% endblock page %}

{% block javascript %}
  {{ block.super }}
<!--   <script src="{{ MEDIA_URL }}js/lib/jquery.mobile-1.0a3.min.js" type="text/javascript" charset="utf-8"></script> -->
  <script src="{{ MEDIA_URL }}js/lib/underscore-min.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ MEDIA_URL }}js/lib/backbone-min.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ MEDIA_URL }}js/roomstant.js" type="text/javascript" charset="utf-8"></script>
{% endblock javascript %}
