{% extends "roomstant/base.html" %}
{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/roomstant.css" type="text/css">
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.mobile-1.0a2.min.css" type="text/css">
{% endblock css %}

{% block page %}

<script lang="javascript">
if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
    var lat = position.coords.latitude;
    var lng = position.coords.longitude;
    
    console.log("Your position: "+lat+", "+lng);
  });
}

</script>

<div id="header_wrapper">
<div id="header">
  <div class="logo"></div>

  <ul class="nav">
    <li><a href="">about</a></li>
    <li><a href="">contact</a></li>
    <li><a href="">blog</a></li>
  </ul>
</div>
</div>


{% endblock page %}

{% block javascript %}
  {{ block.super }}
  <script src="{{ MEDIA_URL }}js/lib/underscore-min.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ MEDIA_URL }}js/lib/backbone-min.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ MEDIA_URL }}js/roomstant.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ MEDIA_URL }}js/lib/jquery.mobile-1.0a2.min.js" type="text/javascript" charset="utf-8"></script>
{% endblock javascript %}
