<!DOCTYPE html>
<html>
  <head>
    <title>Roomstant</title>
    {% block css %}
      <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" type="text/css">
      <link rel="stylesheet" href="{{ MEDIA_URL }}css/fonts.css" type="text/css">
    {% endblock css %}
  </head>
  <body>
    {% block page %}{% endblock page %}
    {% block javascript %}
    <script src="{{ MEDIA_URL }}js/lib/jquery-1.5.1.min.js" type="text/javascript" charset="utf-8"></script>
    {% endblock javascript %}
  </body>
</html>