<!DOCTYPE html>
<html>
  <head>
    <title>Roomstant</title>
    {% block css %}
      <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" type="text/css">
      <link rel="stylesheet" href="{{ MEDIA_URL }}css/fonts.css" type="text/css">
    {% endblock css %}
  </head>
  <body>
    {% block page %}{% endblock page %}
    {% block javascript %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    {% endblock javascript %}
  </body>
</html>