{% extends "roomstant/appbase.html" %}

{% block page %}
<div data-role="page">

<script lang="javascript">
if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(function(position) {
    var lat = position.coords.latitude;
    var lng = position.coords.longitude;
    
    console.log("Your position: "+lat+", "+lng);
  });
}

</script>

<!-- Suggestion -->
<div id="suggestion"></div>

<!-- Preferences -->
<div class="boxes">
<h1 class="boxHeader">Importance</h1>
<img src="{{ MEDIA_URL }}img/sliders.jpeg" style="width:450px;">

<form action="" method="POST">

<div class="ui-slider  ui-btn-down-c ui-btn-corner-all" role="application"><a href="#" class="ui-slider-handle ui-btn ui-btn-corner-all ui-shadow ui-btn-up-c" data-theme="c" role="slider" aria-valuemin="0" aria-valuemax="100" aria-valuenow="35" aria-valuetext="35" title="35" aria-labelledby="slider-label" style="left: 35%; "><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text"></span></span></a></div>

  <div data-role="fieldcontain" id="price_slider">
    <label for="slider">Low price:</label>
    <input type="range" name="slider" id="price_slider" value="80" min="0" max="100"  />
  </div>
  <div data-role="fieldcontain" id="distance_slider">
    <label for="slider">Low distance:</label>
    <input type="range" name="slider" id="distance_slider" value="20" min="0" max="100"  />
  </div>
  <div data-role="fieldcontain" id="stars_slider">
    <label for="slider">Stars:</label>
    <input type="range" name="slider" id="starts_slider" value="3" min="1" max="5"  />
  </div>
</form>

</div>

<!-- mini-suggestions -->

<div id="suggestion_list"></div>


<script type="text/html" id="TemplateSuggestedRoom">
<div class=boxes>
  <h1 class="boxHeader">Suggestion</h1>
  <div><%= room.number %></div>
  <div><%= room.hotel.name %></div>
  <div><%= price %> DKK</div>
  <img src="{{ MEDIA_URL }}img/room.jpg" style="width:200px">
</div>
</script>

<script type="text/html" id="TemplateSuggestion_list">
<div class=boxes>
  <img src="{{ MEDIA_URL }}img/room.jpg" style="width:75px">
  <div id="suggestionListSpec"><%= room.hotel.name %></div>
</script>


</div>
{% endblock page %}

{% block javascript %}
  <script type="text/javascript">
  var ROOMSTANT = {}
  ROOMSTANT.Rooms = {{ rooms|safe }};
  </script>
  {{ block.super }}
{% endblock javascript %}
