{% extends "roomstant/appbase.html" %}

{% block page %}

{{ block.super }}

<div id="content">
<!-- Suggestion -->
<div id="suggestion"></div>

<!-- Preferences -->
<div class="boxes">
<form action="" method="POST">

  <div data-role="fieldcontain" id="price_slider">
    <label for="price_slider">Low price:</label>
    <input type="range" name="price_slider" value="65" min="1" max="100"  />
</div>

<div data-role="fieldcontain" id="distance_slider">
    <label for="distance_slider">Low distance:</label>
    <input type="range" name="distance_slider" value="80" min="1" max="100"  />
</div>

<div data-role="fieldcontain" id="stars_slider">
    <label for="stars_slider">Stars:</label>
    <input type="range" name="stars_slider" value="3" min="1" max="5"  />
</div>
</form>

</div>

<!-- mini-suggestions -->

<div id="suggestion_list"></div>


</div>

<script type="text/html" id="TemplateSuggestedRoom">
<div class="boxes">
  <h1 class="boxHeader">Suggested room</h1>
  <img src="{{ MEDIA_URL }}<%= room.image %>" style="width:200px">
  <div class="suggestionListSpec">
    <div><%= room.hotel.name %> <%= room.hotel.stars %>*</div>
    <div><%= room.name %></div>
    <div><%= price %> DKK</div>
  </div>
</div>
</script>

<script type="text/html" id="TemplateSuggestion_list">
<div class="boxes">
  <img src="{{ MEDIA_URL }}<%= room.image %>" style="width:75px">
  <div class="suggestionListSpec">
    <div class="suggestionListHotelName"><%= room.hotel.name %> <%= room.hotel.stars %>*</div>
    <div class="suggestionListName"><%= room.name %></div>
    <div class="suggestionListPrice"><%= price %> DKK</div>
  </div>
  
</script>

{% endblock page %}

{% block javascript %}
  <script type="text/javascript">
  var ROOMSTANT = {}
  ROOMSTANT.Rooms = {{ rooms|safe }};
  </script>
  {{ block.super }}
{% endblock javascript %}
